body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 41px 0;
  padding-left: 48px;
  font: 24px/31px 'pt_serifbold', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 12px;
  top: 56%;
  background: #c8dbfb;
  opacity: 0.7;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 27px;
  font: 18px/21px 'robotomedium', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}

.menu__item:last-child {
  margin-right: 9px;
}

.menu__item::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item_active::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 204px 63% 48px 3px;
  background: 99% 42% no-repeat url(images/Frame.svg);
  position: relative;
}

.main__title {
  margin: 0 0 36px 0;
  font: 66px/87px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: linear-gradient(transparent 10%, #ecf3ff 15%);
}

.main__description {
  margin: 0 0 45px 0;
  padding-right: 100px;
  font: 22px/26px 'robotoregular', arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  padding: 17px 28px;
  margin: 0 0 270px 0;
  color: #fff;
  background: #0056ec;
  border-radius: 4px;
  text-decoration: none;
  font: 18px/21px 'robotoregular', arial, helvetica, sans-serif;
  transition: all 0.5s ease;
}

.main__button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.main__circle {
  display: block;
  position: absolute;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  background: #c8dbfb;
  opacity: 0.7;
  left: 50%;
  transform: translateX(-50%);
}

.main__circle::before,
.main__circle::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  background: #c8dbfb;
  opacity: 0.7;
  left: -12px;
}

.main__circle::after {
  left: 12px;
}
